{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}
	<div class="login">
		<img class="bg" src="{{ asset('images/bg.png') }}" alt="Convert.io" class="home__img"/>
		<form method="post">
			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			{% if app.user %}
				<div class="mb-3">
					Vous êtes connecté en tant que
					{{ app.user.username }},
					<a href="{{ path('app_logout') }}">Se déconnecter</a>
				</div>
			{% endif %}

			<h1 class="h3 mb-3 font-weight-normal">Convert.io</h1>
			<div>
				<input placeholder="Email" type="email" value="{{ last_username }}" name="_username" id="username" class="form__control" autocomplete="email" required autofocus>
				<input placeholder="Mot de passe" type="password" name="_password" id="password" autocomplete="current-password" class="form__control" required>
			</div>

			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

			<button class="btn btn-lg btn-primary submit__btn" type="submit">Se connecter</button>
		</form>
	</div>
{% endblock %}
