<header>
	<a class="logo__site" href="{{ path('app_home') }}">
		<h1>Convert.io</h1>
	</a>

	<nav>
		<ul>
			<li><a href="{{path('app_home')}}">Accueil</a></li>
			<li><a href="{{path('app_generate_pdf')}}">Générer PDF</a></li>
			<li><a href="{{path('app_history')}}">Historique</a></li>
			<li><a href="{{path('app_subscription')}}">Abonnement</a></li>
		</ul>
	</nav>

	{% if app.user %}
		<a href="{{ path('app_logout') }}" class="deconnexion">Déconnexion</a>
	{% else %}
		<a href="{{ path('app_login') }}" class="deconnexion">Connexion</a>
	{% endif %}
</header>
